@tailwind base;
@tailwind components;
@tailwind utilities;

.form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.form-col {
    flex: 1 1 300px; /* fleksibel dengan basis 300px */
    min-width: 0;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 90px;
    margin-right: 8px;
    text-align: right;
}

.form-group input {
    width: 100%;
    padding: 7px;
}
